<div class="row justify-content-center">
  <div class="col-md-8">
    <%= link_to "back", seller_car_part_path(@car_part) %>
    <h1>Edit car part</h1>
    <%= render "form", car_part: @car_part %>
  </div>
</div>