<div class="row justify-content-center">
  <div class="col-md-8">
    <h1>Create car part</h1>
    <%= render "form", car_part: @car_part %>
    <%= link_to "back", seller_car_parts_path %>
  </div>
</div>